@import '../core';

.main-header {
  height: 5rem;
  display: flex;
}

.logo {
  max-height: 4rem;
  display: flex;
  align-items: flex-start;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    max-width: 30vw;
  }
}
