@import "../core";

.home-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}
.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 5rem;
  height: calc(
    100vh - #{sum($top-navbar-height-desktop, $footer-height, 0.5rem)}
  );
  max-height: 100vh;
}
.top-scene-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #006767;
  //background: radial-gradient(circle, rgba(0,64,64,1) 0%, rgba(0,103,103,1) 41%, rgba(1,140,140,1) 100%);
  background: radial-gradient(
    circle,
    rgba(1, 140, 140, 1) 0%,
    rgba(0, 103, 103, 1) 50%,
    rgba(0, 64, 64, 1) 100%
  );

  h1 {
    color: $color-font-primary;
    position: absolute;
    z-index: 1000;
    font-size: 3.5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem $color-shadow-secondary;
    opacity: 0;
    transition: all 0.5s ease 0.5s;

    span {
      font-family: Volte-Semibold, sans-serif;
      font-size: 3.5rem;
      color: transparent;
      -webkit-text-stroke: 1px $color-font-primary;
      text-shadow: none;
    }

    &.open {
      opacity: 1;
    }
  }
}
.top-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(1, 140, 140, 1) 0%,
    rgba(0, 103, 103, 1) 50%,
    rgba(0, 64, 64, 1) 100%
  );
}
.top-background-element {
  position: absolute;
  background: radial-gradient(
    ellipse at -10% -10%,
    #eaffff 0%,
    #2bcacd 49%,
    #278d8f 78%
  );
  box-shadow: 2rem 2rem 1rem $color-shadow-secondary;
  border-radius: 0.3rem;
  border-top: 1px solid #ffffff90;
  border-left: 1px solid #ffffff90;
  border-right: 1px solid #00000095;
  border-bottom: 1px solid #00000095;
  transition: all 0.7s ease;
}

.home-qualities-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: $color-background-secondary;
  width: 100vw;
  height: 100%;
  z-index: 1500;
}
.qualities-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: $home-qualities-top-padding;
  height: calc(
    100vh - #{sum(
        $top-navbar-height-desktop,
        $footer-height,
        0.5rem,
        $home-qualities-top-padding
      )}
  );
  max-height: 100vh;
  min-height: 15rem;
  max-width: 72rem;
}
.quality-item {
  font-family: Volte-Semibold, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  margin-bottom: 4rem;
  opacity: 1;
  transition: -webkit-transform 0.5s linear, opacity 0.5s linear;
  transition: transform 0.5s linear, opacity 0.5s linear;

  //&.hide-onload {
  //  opacity: 0;
  //}

  .quality-icon {
    display: flex;
    font-size: 3rem;
    color: $color-font-icon;
    min-width: 5rem;
    width: 5rem;

    &.text-icon {
      width: auto;
      min-width: 5rem;
      line-height: 3rem;
      text-align: center;
    }
  }
  .quality-text {
    font-family: "Volte Regular", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: $color-font-secondary;
    margin-left: 1rem;

    span {
      font-family: "Volte Regular", sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        position: absolute;
        right: 0;
        top: calc(50% - 1.5px);
        border-bottom: 3px solid $color-font-secondary;
      }
    }
  }

  &.vertical {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .quality-text {
      margin-left: 0;
    }
  }
  &.with-icon {
    align-items: flex-start;
  }
  &.wide {
    width: auto;
    align-items: center;
  }
}
@include linearShowUp(".quality-item.hide-onload", 1, 7);

.home-technologies-container {
  position: relative;
  background-color: $color-background-tertiary;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 1500;
  padding-bottom: 4rem;
}
.technologies-box {
  width: 100%;
  padding-top: $home-technologies-top-padding;
  min-height: 15rem;
  max-width: 72rem;

  h1 {
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
}
.technologies-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.technology-item {
  height: 5rem;
  margin: 2rem;
}
.technology-icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 100%;
    width: auto;
  }
}

.button-scroll {
  position: absolute;
  bottom: 2rem;
  z-index: 2000;
  cursor: pointer;
  background: none;
  border: none;
  text-shadow: 0.3rem 0.3rem 0.3rem #00000098;
  color: $color-font-primary;
  font-size: 3rem;
  @extend %fa-icon;
  @extend .fas;
  &.down {
    &:before {
      content: fa-content($fa-var-angle-down);
    }

    animation: scrollArrowDown 1.5s infinite linear;
  }
  &.up {
    &:before {
      content: fa-content($fa-var-angle-double-up);
    }

    animation: scrollArrowUp 1.5s infinite linear;
  }

  &.inverse {
    color: $color-font-secondary;
  }
}
@keyframes scrollArrowDown {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes scrollArrowUp {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}


@media screen and (max-width: 1024px) {
  .button-scroll {
    bottom: 4rem;
  }

  .top-scene-container {
    h1 {
      text-align: center;
      font-size: 3rem;
    }
  }

  .home-qualities-container {
    height: unset;
    .button-scroll {
      display: none;
    }
  }

  .qualities-box {
    height: auto;
    max-height: unset;
    padding: 4rem 5rem 0;
  }

  .home-technologies-container {
    padding-bottom: 5rem;
  }
}
