$color-background-primary: #191919;
$color-background-secondary: #f2f2f2;
$color-background-tertiary: #d9d9d9;
$color-button-quaternary: #2bcacd;

$color-border-primary: #434343;
$color-border-secondary: #f2f2f2;

$color-font-primary: #ffffff;
$color-font-secondary: #353535;
$color-font-tertiary: #757575;
$color-font-inactive: #ffffff99;

$color-button: #2bcacd;
$color-button-hover: #22a0a3;
$color-button-disabled: #ffffff99;

$color-button-secondary: #000;

$color-link: #2ae8cf;
        //#b82633;
$color-hover: #c1ded6;
        //#c49ca1;

$color-blend-hover: rgba(43, 202, 205, 0.7);

$color-shadow: black;
$color-shadow-secondary: #00000098;
