@import 'core';

* {
  h1 {
    font-family: Volte-Semibold, sans-serif;
  }

  h2, h3 {
    font-family: "Volte Regular", sans-serif;
  }

  a, p, span {
    font-family: "Volte Regular", sans-serif;
    font-size: 1rem;
    font-weight: normal;
  }
  transition: all .2s ease;
  box-sizing: unset;
}
*::before, *::after {
  box-sizing: unset;
}
body {
  background-color: $color-background-primary;
  overflow: hidden;
}
a {
  color: $color-link;
  &:hover {
    color: $color-hover;
  }
}
